:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

    line-height: 1.8;
    color: rgba(0, 0, 0, .95);

    font-family: "Hiragino Sans GB", "Microsoft Yahei Light", "Microsoft YaHei", STXihei, "Heiti SC", STHeiti,
    "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif;
    background-color: #ddd;
    word-wrap: break-word;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em,
  fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre,
  q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
  }

  img {
    max-height: 100%;
    height: auto;
  }
}
