
$prefix-cls: site-header;

.#{$prefix-cls} {
  background-position: center center;
  background-size: cover;
  background-origin: border-box;
  background-color: white;
  position: relative;
  color: rgba(255, 255, 255, .97);
  box-sizing: border-box;

  text-align: center;

  max-height: 380px;
}

@media (max-width: 1440px) {
  .#{$prefix-cls} {
    position: relative;
    max-height: 350px;
  }
}

@media (max-width: 2560px) {
  .#{$prefix-cls} {
    position: relative;
    max-height: 360px;
  }
}
